body {
    overflow-x: hidden !important;
    overflow-y: scroll;
}
.vr {
    display: inline-block;
    width: 1px;
    min-height: 0.9rem;
    background-color: currentColor;
    opacity: 0.5;
    margin: 0 8px;
}

.vr-search {
    display: inline-block;
    width: 1px;
    min-height: 0.9rem;
    background-color: #000;
    height: 1rem;
}

.topbar-content {
    font-size: 0.8rem !important;
    z-index: 999 !important;
}

.topbar-content,.bg-cr-sidebar{
    background-image: linear-gradient(45deg, #5c0610,#981a06,#af2d03,#ae3f06);
}

.bg-red {
    background-color: #e51b23 !important;
}
.btn:focus,a:focus,.btn-close:focus {
    outline: unset;
    box-shadow: unset;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.logo-align {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    z-index: 99;
}

.logo-align > img {
    height: 63px;
    max-height: 63px;
}

.bottombar-content .bar-menu .bar-item,
.bottombar-content .bar-menu .search-bar,
.bottombar-content .bar-md-menu .bar-md-item,
.bottombar-content .bar-md-menu .search-bar-md {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 10px;
    text-transform: uppercase !important;
    position: relative;
    overflow: hidden;
}

.bar-item:hover > .bar-link,
.bar-md-item:hover > .bar-link{
    color: #e51b23 !important;
}

.bar-item:after,
.bar-md-item:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-110%);
    border: 2px solid #e51b23;
    transition: 0.3s cubic-bezier(0.5, 1.6, 0.7, 0.4);
}

.bar-item:hover:after,
.bar-md-item:hover:after {
    transform: translateX(0);
}

footer .footer-content {
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.copy-right {
    font-size: 14px;
    padding: 6px 0;
    color: #d0d0d0;
}

.ft-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

.footer-content .inner {
    position: relative;
    z-index: 2;
}

.no-bullets {
    list-style: none outside;
    margin-left: 0;
}

.footer-nav {
    padding-bottom: 30px;
}

.footer-nav li a, .ft-content {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.footer-nav h3 {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 1.125rem;
    font-weight: bolder;
    font-family: "Carter One", sans-serif;
}

.inner {
    font-size: 0.875rem;
    line-height: 1.6;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.ft-social-network a {
    z-index: 2;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0px;
    text-align: center;
}

.img-circle {
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
}

.header_login, .shopping-cart {
    padding: 0 5px;
    display: inline-block;
}

.header_login > a, .shopping-cart > a {
    text-decoration: none;
    color: white;
}

.header_login:hover > .dropdown-menu {
    display: block;
    z-index: 9999;
}

.header_login > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.header_login > .dropdown-toggle:after {
    display: none;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 34px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    opacity: 0.5;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    z-index: 9999;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
}

/* Phone call btn */
.phone-call {
    width: 50px;
    height: 50px;
    left: 20px;
    bottom: 87px;
    background: #10b418;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    display: inline-block;
    transition: 0.3s;
    /*line-height: 65px;*/
}

.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -15px;
    left: -15px;
    background-color: #10b418;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse 1s ease-out;
    animation: pulse 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.3);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.6);
        opacity: .6;
    }
    75% {
        -webkit-transform: scale(0.9);
        opacity: .3;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0.3);
        opacity: 1;
    }
    50% {
        transform: scale(0.6);
        opacity: .6;
    }
    75% {
        transform: scale(0.9);
        opacity: .3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* End Phone call btn */